.app-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 1000px;
}

.left-side-menu {
  width: 5rem;
  height: 100%;
  background-color: white;
  padding: 2rem;

}

.list-menu {
    display: flex ;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    /* align-content: center; */
    /* align-items: center; */
    list-style: none;
    /* background-color: brown; */
}

.list-menu > li {
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.list-menu > li > a {
    text-decoration: none;
}

.clicked {
    /* border: 1px solid blue; */
    background-color: rgb(50, 50, 211);
    padding: 0.2rem;
    border-radius: 5px;
}

.left-side-panel {
    width: 20rem;
    height: auto;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.img {
    display: flex;

}

.img > img {
    border-radius: 50%;
    width: 60px;
}

.inner-name {
    margin-left: 5px;
    margin-top: 5px;
}

.btn {
    background-color: rgb(25, 25, 226);
    color: white;
    height: 2.5rem;
    width: 8rem;
    padding: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.center-panel {
    width: 50rem;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal {
    display: flex;
}

.right-panel {
    width: 20rem;
    height: auto;
    /* background-color: rgb(252, 251, 251); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-panel1 {
    width: 18rem;
    height: auto;
    background-color: rgb(240, 235, 235);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.btn-update {
    width: 12rem;
    height: 3rem;
    background-color: blue;
    border-radius: 7px;
    margin-top: 1rem;
    color: white;
    font-family: sans-serif;
    font-size: medium;
}

.housing-adv {
    width: 15rem;
    height: auto;
    border-left: 2px solid blue;
    padding-left: 2rem;
    margin-top: 2rem;
}

.canvas {
    width: 8rem;
    height: 7rem;
    margin-top: 2rem;
}

/* css for small devices */
@media screen  and (max-width: 768px) {
    .app-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        /* padding-left: 1rem; */
    }

    .left-side-menu {
        width: 100%;
        order: 3;
    }
    
    .list-menu {
        display: flex;
        flex-direction: row;
        width: 98%;
        height: auto;
        justify-content: space-around;
        /* margin-left: 1rem; */
       /* order: 3; */
           
    }

    .left-side-panel {
        width: 100%;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        margin-bottom: 1rem;
        order: 1;
    }

    .right-panel {
        width: 100%;
        margin-bottom: 2rem;
        order: 2;
    }

    .right-panel1{
        width: 95%;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .btn-update {
        width: 90%;
        height: 3rem;
        background-color: blue;
        border-radius: 10px;
        margin-top: 1rem;
        color: white;
        font-family: sans-serif;
        font-size: larger;
    }
}